body {
    padding: 0em;
    margin: 0em;
    background-color: black;
    background-image: url("bombing.jpg");
}

#question {
    color: white;
    background-color: black;
    text-align: center;
}

#answer {
    color: red;
    background-color: black;
    text-align: center;
    font-size: 13em;
    padding-bottom: 0em;
}

#info {
    display: block;
    background-color: white;
    color: black;
    width: 80%;
    margin-left: 10%;
    padding: 1em;
    font-size: 1.2em;
    margin-bottom: 5em;
}
